{
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", 4, { "ignoredNodes": ["ConditionalExpression"] }],
        "no-console": ["error", { "allow": ["debug"] }],
        "comma-dangle": ["error", "always-multiline", { "functions": "ignore" }],
        "no-use-before-define": ["error", "nofunc"],
        "no-plusplus": "off",
        "no-alert": "off",
        "max-len": ["error", { "code": 140 }],
        "prefer-destructuring": ["error", { "array": false }],
        "import/prefer-default-export": "off",
        "no-empty": ["error", { "allowEmptyCatch": true }],
        "no-mixed-operators": ["error", { "allowSamePrecedence": true }],
        "no-throw-literal": "off",
        "func-names": ["error", "never"],
        "no-restricted-syntax": off,
        "no-prototype-builtins": off,
        "radix": ["error", "as-needed"]
    },
    "env": {
        "jquery": true,
        "browser": true
    },
}
